{% extends "base.twig" %}

{% block title %}エラーページだよ{% endblock %}

{% block content %}
<section>
    <h2>{{error.class}}</h2>
    <p>{{error.object.message}}</p>
    <p>{{error.object.file}} {{error.object.line}}</p>
    <div class="code">
        <pre>{{error.object.traceAsString}}</pre>
    </div>
</section>
{% for prev in error.prev %}
<section>
    <h2>{{prev.class}}</h2>
    <p>{{prev.object.message}}</p>
    <p>{{prev.object.file}} {{prev.object.line}}</p>
    <div class="code">
        <pre>{{prev.object.traceAsString}}</pre>
    </div>
</section>
{% endfor %}
{% endblock %}