{% extends "base.twig" %}

{% block title %}エラーページだよ{% endblock %}

{% block content %}
{% for error in errors %}
<section>
    <h2>{{ error.name }}</h2>
    <p>{{ error.message }}</p>
    <p>{{prev.object.file}} {{prev.object.line}}</p>
    <div class="code">
        <span class="file">{{ error.file }} {{ error.line }}</span>
        <pre>
{% for line, row in error.script %}
{{line}}{{ "\t"|raw }}{{ row }}
{% endfor %}
</pre>
    </div>
    <section>
        <h3>stack trace</h3>
        {% for trace in error.trace %}
        <div class="code">
            <span class="file">{{ trace.file }} {{ trace.line }}</span>
            <pre>
{% for line, row in trace.script %}
{{line}}{{ "\t"|raw }}{{ row }}
{% endfor %}
</pre>
        </div>
        {% endfor %}
    </section>
</section>
{% endfor %}
{% endblock %}